h1 {
    color: blue;
    text-transform: uppercase;
}
/*
md-nav-list a {
    padding: 5px 10px;
    border: 3px solid grey;
    border-radius: 5px;
    background: lightgray;
    font-weight: 600;
}
*/

